h1{
    text-align: center;
    padding: 5%;
    font-family: 'Questrial', sans-serif;
    font-size: 3.0em;
}


figcaption {
    position: relative;
    bottom: 40rem;
    margin-bottom: 10px;
    color: black;
    font-family: 'Questrial', sans-serif;
    font-size: 4.0em;
    text-align: center;
}

.hero {
    opacity: 0.67;
}


.content {
    padding-bottom: 8rem;
}