.login-button{
    margin-right: 2rem;
    background: transparent;
    text-decoration: none;
    color: white;
}

.logout-button{
    margin-right: 2rem;
    background: transparent;
    text-decoration: none;
    color: white;
}