.navbar {
    background: #282828;
    color: white;
    display: flex;
}

.nav-items {
    color: white;
    font-size: 1.2rem;
    font-family: 'Questrial', sans-serif;
    list-style: none;
    margin-right: 8rem;
    display: flex;
    justify-content: center;
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-item a {
    text-decoration: none;
    color: white;
    font-family: 'Questrial', sans-serif;
    font-size: 1.5rem;
    margin-right: 2.5rem;
}


.navbar-brand {
    color: #add8e6;
    font-size: 3rem;
    font-family: 'Questrial', sans-serif;
    margin-left: 4rem;
    margin-top: 2rem;
}
